:root{
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

body{
    background-color: black;
    color: var(--white);
    font-family: 'Overpass', sans-serif;
    font-size: 15pt;
    font-weight: 400;
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    
}

.card{
    background-color: var(--very-dark-blue);
    
    display: flex;
    flex-direction: column;
    
    width:350px;
    height: 350px;
    
    border-radius: 10%;
    
    padding: 40px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.icon{
    background-color: var(--dark-blue);
    color: var(--light-grey);
    
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    
    width:40px;
    height: 40px;
    
    border-radius:25px;
}

h2{
    margin: 35px 0px 15px;
}

.text p{
    color: var(--light-grey);
    font-size: 12pt;
    margin: 0px;
}

.ratings{
    display: flex;
    justify-content: space-between;    
    margin: 30px 0px;
}

.globes{
    background-color: var(--dark-blue);
    color: var(--light-grey);

    display: flex;
    align-items: center;
    justify-content: center;

    width:50px;
    height: 50px;
    
    border-radius:25px;
       
}

.clicked{
    background-color: var(--light-grey);
    color: white;
}

#sub-button{
    background-color: var(--orange);
    color: white;
    font-family: 'Overpass', sans-serif;
    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 30px;
    height: 50px;
}

#sub-button:hover{
    background-color: white;
    color:var(--orange);
}

.globes:hover{
    background-color: var(--orange);
    color: white;
}

.hidden{
    visibility: hidden;
}

.thank-you-container{
    /* display: flex; */
    /* flex-direction: column; */
    /* align-content: center; */
    visibility: hidden;

}



.thank-you-card{
    background-color: var(--very-dark-blue);    
    align-items: center;

    background-color: var(--very-dark-blue);
    
    display: flex;
    flex-direction: column;
    
    width:350px;
    height: 350px;
    
    border-radius: 10%;
    
    padding: 40px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

img{
    width: 150px;
    margin-top: 15px;
}

.rating-message{
    background-color: var(--dark-blue);
    color: var(--orange);
    font-size: 12pt;
    border-radius: 25px;
    padding: 6px 20px;
    margin: 35px 0px 25px;
}

.thank-you-card .text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thank-you-card p{
    text-align: center;
    font-size: 11.5pt;
}

.thanks{
    margin: 15px;
}

@media screen and (max-width:375px) {
    
    body{
        background-color: red;
    }
    #sub-button{
        background-color: purple;
    }

}